* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue-color: #05696b;
  --green-color: #00bf63;
  --white-color: #ffffff;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
    scroll-duration: 2s;
  }
}
nav {
  width: 100%;
  background-color: var(--white-color);
  top: 0;
  opacity: 0.9;
  position: fixed;
}
.nav-bar-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 200px;
}

.logo-container img {
  width: 120px;
  height: 120px;
}

.nav-menu-container {
  /* background-color: #FFFF; */
  padding: 0 20px;
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu li {
  position: relative;
}

.menu a {
  color: var(--blue-color);
  text-decoration: none;
  padding: 15px;
  display: block;
}

/* Sous-menus */
.submenu {
  display: none;
  position: absolute;
  top: 100%; /* sous le parent */
  left: 0;
  background-color: var(--blue-color);
  list-style: none;
  min-width: 160px;
  z-index: 1000;
}

.submenu li a {
  padding: 10px;
  color: var(--white-color);
}

/* Afficher le sous-menu au survol */
.has-submenu:hover .submenu {
  display: block;
}

/* Optionnel : effet au survol */
.menu a:hover,
.submenu a:hover {
  color: var(--white-color);
  background-color: var(--green-color);
}

.contact {
  background-color: var(--blue-color);
  color: var(--white-color) !important;
  height: 40px;
  border-radius: 10px;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
  padding-bottom: 10px;
}

.rdv {
  border: 2px solid var(--blue-color);
  border-radius: 10px;
  height: 40px;
}
.contact-banner {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./images/etuens.jpg);
  align-content: center;
  background-size: cover;
  width: 100%;
  height: 700px;
  border-radius: 20px;
}

.contact-banner-text {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  font-size: 3rem;
  font-weight: 900;
}

.contact-container {
  padding: 20px 20px 20px 20px;
  width: 100%;
  display: grid;
  grid-template-columns: 800px 1fr;
  gap: 40px;
}

footer {
  margin-top: 10px;
  background-color: var(--blue-color);
  width: 100%;
}

.footer-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.top-logo img {
  width: 150px;
  height: 100px;
  border-radius: 20px;
}

.logo-text {
  color: var(--white-color);
  font-size: 1rem;
  font-weight: 600;
}

.top-menu ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style-type: none;
}

.top-menu ul a {
  color: var(--white-color);
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
}

.top-add {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* align-items: center; */
  justify-content: center;
}

.top-add-1 {
  color: var(--white-color);
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
}

.top-add-2 {
  color: var(--white-color);
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
}

.footer-bottom {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.text-newletter {
  color: var(--white-color);
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
}
.newletter form {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
input {
  width: 300px;
  height: 40px;
  font-size: 1.5rem;
  color: var(--blue-color);
  font-weight: 600;
  border: 2px solid var(--blue-color);
  border-radius: 10px;
}

button {
  width: 130px;
  height: 40px;
  font-size: 1.2rem;
  color: var(--blue-color);
  font-weight: 600;
  border: 2px solid var(--blue-color);
  border-radius: 10px;
}

.socials-links {
  display: flex;
  justify-content: right;
  gap: 15px;
}

.socials-links i {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid var(--white-color);
  color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.socials-links i:hover {
  filter: drop-shadow(0 0 20px var(--white-color));
}

.rdv-banner {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("/images/rdv.jpg");
  align-content: center;
  background-size: cover;
  width: 100%;
  height: 700px;
  border-radius: 20px;
}

.rdv-banner-text {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  font-size: 3rem;
  font-weight: 900;
}

.rdv-container-text {
  margin-top: 15px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 400;
}

.rdv-form-container {
  margin-top: 40px;
  padding: 30px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  width: 100%;
}
input[type="text"],
input[type="email"],
input[type="date"],
input[type="tel"] {
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  transition: border 0.3s ease;
}

input:focus {
  outline: none;
  border-color: #3b82f6; 
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.2);
}

label {
  font-weight: 600;
  color: #333;
}

.motif-item input[type="radio"] {
  accent-color: #3b82f6; 
  cursor: pointer;
}

.motif-item label {
  font-weight: 500;
  cursor: pointer;
}


.rdv-btn-submit {
  grid-column: span 2; /* bouton sur toute la largeur */
  display: flex;
  justify-content: left;
  margin-top: 20px;
}

.rdv-btn-submit button {
  background-color:var(--blue-color);
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.rdv-btn-submit button:hover {
  background-color:var(--blue-color);
}


.rdv-left-form {
  display: flex;
  flex-direction: column;
  gap: 20px; /* un peu plus d'espace */
}

.rdv-left-form-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.rdv-left-form-item label {
  font-size: 1rem;
  font-weight: 600; /* Pour harmoniser avec le reste */
  color: #333;
}


.rdv-left-form-item .motif-item {
  display: flex;
  flex-wrap: wrap; /* S’adapte mieux en responsive */
  gap: 15px;
}

.rdv-left-form-item .motif-item input[type="radio"] {
  accent-color: #3b82f6;
  cursor: pointer;
}

.rdv-left-form-item .motif-item input {
  width: 20px;
  height: 20px;
  padding: 10px;
}

.rdv-right-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.rdv-right-form-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.rdv-right-form-item label {
  font-size: 1rem;
  font-weight: 600;
  color: #333;
}

.rdv-right-form-item input[type="text"],
.rdv-right-form-item input[type="tel"],
.rdv-right-form-item input[type="date"] {
  padding: 12px 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  transition: border 0.3s ease;
}

.rdv-right-form-item input:focus {
  outline: none;
  border-color:var(--blue-color);
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.2);
}

.wrapper {
  display: flex;
  justify-content: center;
}
.line-container{
    margin-top: 20px;
    display: flex;
    width: 600px;
    height: 10px;
    background-color: var(--blue-color);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;


}

.text-line-bottom p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 20px auto;
}

.another-container{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 300px;

}
.another-left{
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.another-left i{
font-size: 4rem;
color: var(--green-color);
}

.another-left p{
font-size: 1.5rem;
color: var(--blue-color);
}

.another-left a{
    text-decoration: none;
    color: black;
}




.another-right{
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.another-right i{
font-size: 4rem;
color: var(--green-color);
}

.another-right p{
font-size: 1.5rem;
color: var(--blue-color);
}

.another-right a{
    text-decoration: none;
    color: black;
}
@media screen and (max-width: 768px) {
  form {
    grid-template-columns: 1fr;
  }
}